---
import Layout from '../layouts/Layout.astro';
import RomColumn from '../components/RomColumn.astro';

const roms = await Astro.glob('../content/roms/*.md');
---

<Layout title="Custom ROM" description="Custom ROMS">
    <section class="cont flex flex-wrap justify-center gap-8 p-4">
        {roms.map(rom => {
            const { Content } = rom;
            return (
                <RomColumn 
                    title={rom.frontmatter.title}
                    logoSrc={rom.frontmatter.logoSrc}
                    logoAlt={rom.frontmatter.logoAlt}
                    downloadLink={rom.frontmatter.downloadLink}
                    guideId={rom.frontmatter.guideId}
                    buttonId={rom.frontmatter.buttonId}
                    credits={rom.frontmatter.credits}
                >
                    <Content />
                </RomColumn>
            )
        })}
    </section>

    <script is:inline>
        function showGuide(guideId, buttonId) {
            const guias = [
                "1. Go to twrp", 
                "2. Wipe data, cache, dalvik, system", 
                "3. Flash rom",
                "4. Flash magisk", 
                "5. Reboot", 
                "6. Flash dolby from magisk", 
                "7. Reboot"
            ];

            const guideContainer = document.getElementById(guideId);
            const button = document.getElementById(buttonId);

            if (button.disabled) return;

            const titleElement = document.createElement("h2");
            titleElement.textContent = "How to Install :";
            titleElement.classList.add('text-lg', 'font-semibold', 'mb-2');
            guideContainer.appendChild(titleElement);
            
            const list = document.createElement('ul');
            list.classList.add('list-disc', 'list-inside', 'space-y-1');
            guias.forEach(step => {
                const liElement = document.createElement("li");
                liElement.textContent = step;
                list.appendChild(liElement);
            });
            guideContainer.appendChild(list);
            
            button.disabled = true;
        }
    </script>
</Layout>